{% extends 'base.html.twig' %}

{% block title %}Url converter!{{ parent() }}{% endblock %}

{% block content %}
    <div class="example-wrapper">
        <h1>Your url! ✅</h1>
        <p>{{ url_code.url }}</p>
    </div>
{% endblock %}
