{% extends 'base.html.twig' %}

{% block title %}Hello FirstTestController!{{ parent() }}{% endblock %}

{% block content %}
    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a
                            href="{{ '/srv/src/app/src/Controller/TestController.php'|file_link(0) }}">src/Controller/FirstTestController.php</a></code>
            </li>
            <li>Your template at <code><a
                            href="{{ '/srv/src/app/templates/first_test/show_users.html.twig'|file_link(0) }}">templates/first_test/index.html.twig</a></code>
            </li>
        </ul>
    </div>
{% endblock %}
