{% extends 'base.html.twig' %}

{% block title %}Lucky Number!{{ parent() }}{% endblock %}

{% block content %}
    <div class="example-wrapper">
        <h1>Lucky number {{ randNum }} ✅</h1>
    </div>
{% endblock %}
